.container {
  width: 300px;
  height: 400px;
  background: tomato;
  background-image: url("/image/winter.JPG");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}