.container {
  background-color: orange;
  width: 300px;
  height: 300px;
  /* padding-top: 30px;
  padding-left: 30px; 
  top -> right -> bottom -> left
  */
  padding: 30px 0 0 30px; 
}

.item {
  background-color: royalblue;
  height: 70px;
  width: 100px;
  padding-top: 20px;
  margin-bottom: 30px;
  border: 4px solid red;
  border-radius: 10px;
  box-shadow: 30px 10px 30px rgba(0, 0, 0, 0.5);
}

.font-test {
  font-size: 22px; /* 기본 : 16px */
  font-weight : bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 2;
  text-align: center;
  color: blue;
  text-decoration: underline;
  word-break: keep-all;
}