body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;

  width: 800px;
}

header {
  border-bottom: 1px solid grey;
  padding-left: 20px;
}

footer {
  border-top: 1px solid grey;
  padding: 20px;
  text-align: center;
}

.content {
  display: flex;
}

.content nav {
  border-right: solid 1px grey;
}

.content aside {
  border-left: solid 1px grey;
}

nav, aside {
  /* 플렉스에 너비를 부여 */
  flex-basis: 150px;
  /* 주어진 너비가 줄어들 때 양보 안함. */
  flex-shrink: 0;
}

h1 {
  column-span: all;
}

main {
  padding: 10px;
  column-count: 2;
}