.container {
  height: 100px;
  border:solid 4px black;
}

.item {
  /* 배경색 : royalBlue */
  /* 글자 색 : wheat; */
  /* 가로 세로 : 100px */
  /* 글자 정 중앙에 위치시키기 */
  width: 100px;
  height: 100px;
  background-color: royalblue;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.item:hover {
  border-radius: 50%;
  background: orange;
  transform: rotate(45deg);
  transition: 1s;
}