body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 200px;
}

.product-img {
  background-image: url('../img/camera.JPG');
  width: 30%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  margin-right: 20px;
}

.content {
  float: left;
  width: 60%;
  height: 100%;
}